[Unit]
Description = Mount mergerfs volume
Requires = service.system.docker.service
Before = service.system.docker.service


[Mount]
Environment = PATH=/usr/bin:/usr/sbin:/storage/.kodi/addons/service.mergerfs/bin
What = /var/media/*
Where = /storage/pool
Type = mergerfs
Options = defaults,allow_other,direct_io,use_ino,hard_remove,minfreespace=1G,fsname=mergerfs

[Install]
WantedBy = multi-user.target
